.navbar-inner {
    background-color: #012144;
    color: lightgray;
}

.navbar-wrapper {
    background-color: black;
    padding: 3px;
}

.brand-wrapper {
    background-color: #313a45;
    border-radius: 4px;
    border: 2px solid #1d2029;
    width: 10vw;
    height: 40px;
    margin-left: 30px;
    margin-top: -2px;
    padding: 2px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-text {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

.brand-text-divider {
 color: orange;
}

.aws-image {
    width: 40px;
    height: 40px;
    margin-left: -95.0%;
    border-radius: 4px;
}

@media only screen and (max-width: 1920px) {
    .aws-image {
        margin-left: -70.0%;
    }
}

@media only screen and (max-width: 1600px) {
    .aws-image {
        margin-left: -35.0%;
    }

    .brand-text {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1024px) {
    .aws-image {
        width: 40px;
        height: 40px;
        margin-left: -30.0%;
    }
    .brand-text {
        font-size: 1.0rem;
    }

    .brand-wrapper {
        width: 10vw;
        height: 30px;
    }
}

@media only screen and (max-width: 870px) {
    .aws-image {
        margin-left: 0.0%;
    }
}

@media only screen and (max-width: 768px) {
    .aws-image {
        width: 30px;
        height: 30px;
        margin-left: -30%;
    }
    .brand-text {
        font-size: 0.5rem;
    }

    .brand-wrapper {
        width: 10vw;
        height: 30px;
    }
}
